@import "../styles/flexbox.scss";
@import "../../styles.scss";


#hero {
    height: 100vh;
    width: 1920px;
    overflow: hidden; 
}

.link-container {
    position: absolute;
    top: 80px;
    right: 24px;
}

.picture-from-drop {
    height: 600px;
    width: 600px;
}

@media (min-width: 600px ) {
    .disable-desktop {
        display: none !important;
    }

    .logo-section {
        justify-content: space-between;
        height: 80vh;
        padding: 150px;
    }    
}

@media (max-width: 1000px ) {
    .disable-mobile {
        display: none !important;
    }

    .headline {
        display: flex;
        justify-content: space-between;
        width: 92vw;
    }

    .picture-from-drop {
        width: 320px;
        height: 280px;
    }

    .logo-section {
        justify-content: unset !important;
        gap: 24px !important;
    }

    #hero {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

@media (max-width: 1000px) AND (min-width: 600px) {
    .logo-section {
        padding: 0;
    }
    #hero {
        align-items: center;
        gap: 80px;
    }
}

@media (max-width: 350px) {
    .background {
        width: 100vw;
    }
}