<div class="d_flex_j_c background">
    <div id="hero" class="d_flex_s_a">
        <app-header-mobile></app-header-mobile>
            <div class="picture-from-drop">
                <div class="picture-from-me"></div>
                <app-menu></app-menu>
            </div>
        
            <div class="d_flex d_flex_column logo-section">
                <app-logo [logoName]="'logo-dark'" class="disable-mobile"></app-logo>
                <div>
                    <h1>Marco Lenschau</h1>
                    <marquee scrollamount="4"><h3>{{'FRONTEND DEVELOPER'  | translate}}</h3></marquee>
                </div>
                <div>
                    <a href="#why">
                        <img src="./assets/img/arrows/arrow-down.svg" alt="arrow-down">
                    </a>
                </div>
            </div>
            <div class="d_flex_column g_12 link-container disable-mobile">
                <a href="mailto: contact@marco-lenschau.de" target="_blank">
                    <img class="logos" src="./assets/img/logos/blue/email-button-blue.svg" alt="email">        
                </a>
                <a href="https://github.com/MarcoLenschau" target="_blank">
                    <img class="logos" src="./assets/img/logos/blue/github-button-blue.svg" alt="github">
                </a>
                <a href="https://de.linkedin.com/in/marco-lenschau-271214317?trk=public_post_feed-actor-name" target="_blank">
                    <img class="logos" src="./assets/img/logos/blue/linkedin-button-blue.svg" alt="linkedin">
                </a>
            </div>
        </div>
</div>