<div class="d_flex_j_c background">
    <div id="hero" class="d_flex_s_a">
        <app-header-mobile></app-header-mobile>
            <div class="picture-from-drop">
                <div class="picture-from-me"></div>
                <div class="menu-items disable">
                    <a href="#{{section.toLowerCase()}}" *ngFor="let section of sections">{{section | translate}}</a>
                    <div class="d_flex g_6">
                        <a *ngFor="let lang of languages" id="{{lang.toLowerCase()}}" [class.active]="translate.currentLang === lang" 
                        (click)="translate.switchLanguage(lang)">{{lang.toUpperCase()}}</a>
                    </div>
                </div>
            </div>
        
            <div class="d_flex d_flex_column logo-section">
                <app-logo [logoName]="'logo-dark'" class="disable-mobile"></app-logo>
                <div>
                    <h1>Marco Lenschau</h1>
                    <h3>{{'FRONTEND DEVELOPER' | translate}}</h3>
                </div>
                <div>
                    <a href="#why me">
                        <img src="./assets/img/arrows/arrow-down.svg" alt="arrow-down">
                    </a>
                </div>
            </div>
            <div class="d_flex_column g_12 link-container disable-mobile">
                <a href="mailto: contact@marco-lenschau.de" target="_blank">
                    <img class="logos" src="./assets/img/logos/email-light.svg" alt="email">        
                </a>
                <a href="https://github.com/SnowCoder404" target="_blank">
                    <img class="logos" src="./assets/img/logos/github-light.svg" alt="github">
                </a>
                <a href="https://de.linkedin.com/in/marco-lenschau-271214317?trk=public_post_feed-actor-name" target="_blank">
                    <img class="logos" src="./assets/img/logos/linkedin-light.svg" alt="linkedin">
                </a>
            </div>
        </div>
</div>