<div id="hero" class="d_flex_s_a background h-100">
    <div class="headline disable-desktop">
        <app-logo [logoName]="'logo-dark'"></app-logo>
        <app-menu></app-menu>
    </div>
    <div>
        <img class="picture-from-drop" src="./assets/img/drop.svg" alt="drop">
        <img class="picture-from-me" src="" alt="">
    </div>
    <div class="d_flex_s_a d_flex_column logo-section">
        <app-logo [logoName]="'logo-dark'" class="disable-mobile"></app-logo>
        <div>
            <h1>Marco Lenschau</h1>
            <h3>{{'FRONTEND DEVELOPER' | translate}}</h3>
        </div>
        <div>
            <a href="#why me">
                <img src="./assets/img/arrows/arrow-down.svg" alt="arrow-down">
            </a>
        </div>
    </div>
    <div class="d_flex_column g_12 link-container disable-mobile">
        <a href="mailto: contact@marco-lenschau.de">
            <img class="logos" src="./assets/img/logos/email-light.svg" alt="email">        
        </a>
        <a href="https://github.com/SnowCoder404">
            <img class="logos" src="./assets/img/logos/github-light.svg" alt="github">
        </a>
        <a href="https://github.com/SnowCoder404">
            <img class="logos" src="./assets/img/logos/linkedin-light.svg" alt="linkedin">
        </a>
    </div>
</div>