<div [class.firefox]="firefoxService.firefoxDetected" class="header-div" >
    <header>
        <app-logo [logoName]="'logo'"></app-logo>
        <section>
            <a *ngFor="let section of sections" (click)="switchSite()" href="#{{section.toLowerCase().split(' ')[0]}}">{{section | translate }}</a>
        </section>
        <section>
            <a *ngFor="let lang of languages" id="{{lang.toLowerCase()}}" [class.active]="translate.currentLang === lang" 
            (click)="translate.switchLanguage(lang)">{{lang.toUpperCase()}}</a>
        </section>
    </header>
</div>