@import "../../../styles.scss";

header {
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $ligh_blue;
    >section {
        display: flex;
        gap: 12px;
    }
}