@import "../../../styles.scss";

.header-div {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: $ligh_blue;

}

header {
    width: 1920px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    >section {
        display: flex;
        gap: 12px;
    }
}

a {
    color: $black; 
    &:hover {
        color: $white;
        cursor: pointer;
    }
}

.active {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0px 4px;
    border-radius: 12px;
    color: $white;
    &:hover {
        cursor: default;
    }
}

@media (max-width: 919px) {
    header {
        display: none;
    }
}