@import "../../styles/flexbox.scss";
@import "../../../styles.scss";

.headline {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 96vw;
    margin: 18px;;
}


@media (max-width: 650px) {
    .headline {
        width: 90vw;
    }
}

@media (min-width: 920px) {
    .disable-desktop {
        display: none;
    }
}