@import "../../styles/flexbox.scss";
@import "../../../styles.scss";

.headline {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    margin: 18px;;
}

@media (min-width: 920px) {
    .disable-desktop {
        display: none;
    }
}