<div class="d_flex_column background" style="padding: 25px;">
    <div class="d_flex g_12">
        <div  class="d_flex_a_c project-title" (click)="sendProjectData(i)" [class.active]="active === i" *ngFor="let project of projects, let i = index">{{i + 1}}. {{project.name}}</div>
    </div>
    <app-project  
        [name]="projects[active].name" 
        [info]="projects[active].info" 
        [technology]="projects[active].technology"
        [screenshot]="projects[active].screenshot">
    </app-project>
</div>

