@import "../styles/flexbox.scss";
@import "../../styles.scss";

.active{
    background-color: $dark_blue;
    color: $white !important;
    padding: 16px;
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;
    &:hover {
        cursor: default !important;
    }
}

app-project {
    background-color: $dark_blue;
    padding: 16px 0;
    margin: 0px -23px;
}

.project-title {
    color: $ligh_blue;
    &:hover {
        cursor: pointer;
        color: $white;
    }
}

#projects {
    width: 1920px;
}