<div id="whyme" class="background">
    <div class="d_flex_c">
        <h1 class="color-blue">{{ 'Why me' | translate }}</h1>
    </div>
    <div class="d_flex_c" style="gap: 54px;">
        <div class="d_flex g_6">
            <img src="./assets/img/location.svg" alt="location">
            <h2 class="color-blue">{{ 'WHY_ME.I_AM' | translate }}</h2>
            <h2>{{ 'WHY_ME.TOWN' | translate }}</h2>
        </div>
        <div class="d_flex_column" style=" width: 250px;">
            <span>{{ 'WHY_ME.TEXT' | translate }}</span>
            <div class="d_flex_end">
                <a class="button" href="#contact">{{ 'WHY_ME.TALK' | translate }}</a>
            </div>
        </div>
    </div>    
</div>
