<div>
    <div class="d_flex_c">
        <h1 class="color-blue">Why me</h1>
    </div>
    <div class="d_flex_c" style="gap: 54px;">
        <div class="d_flex g_6">
            <img src="./assets/img/location.svg" alt="location">
            <h2 class="color-blue">I am </h2>
            <h2> located in Happytown..|</h2>
        </div>
        <div class="d_flex_column" style=" width: 250px;">
            <span>I'm a frontend developer focused on clean, efficient code and solid user experiences. I quickly get up to speed, take ownership, and deliver reliable, high-quality solutions – independently or in a team.</span>
            <div class="d_flex_end">
                <button>Let's talk</button>
            </div>
        </div>
    </div>    
</div>
