<div class="d_flex_c">
    <h1>Why me</h1>
</div>
<div class="d_flex_c" style="gap: 54px;">
    <div class="d_flex">
        <img src="./assets/img/location.svg" alt="location">
        <h2>I am located in Happytown..|</h2>
    </div>
    <div class="d_flex_column" style=" width: 250px;">
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro facilis doloremque harum voluptatibus aliquam corrupti cumque nulla hic sunt! Vero aperiam alias sint magni assumenda odio quis tempora repellat ut!</span>
        <div class="d_flex_end">
            <button>Let's talk</button>
        </div>
    </div>
</div>

