@import "../styles/flexbox.scss";
@import "../../styles.scss";

* {
    color: $white;
}

.color-blue {
    color: $ligh_blue;
}

button {
    width: 75px;
    height: 45px;
    border-radius: 24px;
    border: $ligh_blue 2px solid;
    color: $ligh_blue;
    background-color: $dark_blue;
}

div {
    padding: 12px 0;
}

