<form (ngSubmit)="onSubmit()" id="contacts" class="d_flex_j_c g_12 background">
    <div class="d_flex_c d_flex_column">
        <div class="d_flex_column g_12">
            <h1 class="d_flex_j_c color-blue">{{ 'CONTACT_ME.HEADLINE' | translate }}</h1>
            <div class="d_flex_s_b">
                <span class="w-420">{{ 'CONTACT_ME.DESCRIPTION' | translate }}</span>                  
                <div class="d_flex_column">
                    <div class="d_flex_a_c g_12">
                        <img class="email-phone-images" src="./assets/img/email.svg" alt="email">
                        <a href="mailto: contact@marco-lenschau.de">E-mail: contact&#64;marco-lenschau.de</a>
                    </div>
                    <div class="d_flex_a_c g_12">
                        <img class="email-phone-images" src="./assets/img/phone.svg" alt="phone">
                        <a href="tel: 01776433265">Tel: 0177 643 326 5</a>
                    </div>
                </div>
            </div>
            <div class="d_flex_s_b">
                <div class="d_flex_column">
                    <span class="color-blue distance">{{ 'CONTACT_ME.NAME' | translate }}</span>
                    <input name="name" [(ngModel)]="contactData.name" class="textfield" type="text" required>                
                </div>
                <div class="d_flex_column">
                    <span class="color-blue distance">{{ 'CONTACT_ME.EMAIL' | translate }}</span>
                    <input name="email" [(ngModel)]="contactData.email" class="textfield" type="email" required>  
                </div>
            </div>
            <div class="d_flex_column">
                <span class="color-blue distance">{{ 'CONTACT_ME.MESSAGE' | translate }}</span>
                <textarea name="subject" [(ngModel)]="contactData.subject" cols="50" rows="6" required></textarea> 
            </div>
            <div class="privacy-police">
                <input type="checkbox" required>
                <span>{{ 'CONTACT_ME.READ' | translate }} </span>
                <a class="color-blue" href="">{{ 'CONTACT_ME.PRIVACY' | translate }} </a>
                <span>{{ 'CONTACT_ME.ACCEPT' | translate }}</span> 
            </div>
            <div class="d_flex_end">
                <button [class.disable]="" [disabled]="">{{ 'CONTACT_ME.SEND' | translate }}</button>
            </div>
        </div>
    </div>    
    <div>
        <a href="#hero">
            <img src="./assets/img/arrows/arrow-up.svg" alt="arrow-up">
        </a>
    </div>
</form>
