@import "../styles/flexbox.scss";
@import "../../styles.scss";

.textfield {
    width: 350px; 
    height: 40px;
    border-radius: 24px;
    background-color: $dark_grey;
    border: $ligh_blue 1px solid;
    &:focus {
        color: $white;
    }
}

a {
    &:hover {
        cursor: pointer;
    }
    
    >img {
        &:hover {
            background-color: rgba($color: #FFFFFF, $alpha: 0.1);
            border-radius: 24px;
        }
    }

}

textarea {
    border-radius: 24px;
    background-color: $dark_grey;
    border: $ligh_blue 1px solid;
    height: 110px !important;
    &:focus {
        color: white;
    }
}

.distance {
    padding: 0 21px;
    padding-top: 21px;
}

.privacy-police {
    padding: 24px;
}

.d_flex_end {
    >button {
        width: 100px;
        height: 50px;
        border-radius: 24px;
        border: $ligh_blue 1px solid;
        color: $ligh_blue;
        background-color: $dark_grey;
        margin: 34px 0;
        &:hover {
            cursor: pointer;
            filter: brightness(1.25);
        }
    }
}

.links {
    &:hover {
        color: $ligh_blue;
    }
}

.email-phone-images {
    height: 35px;
    width: 35px;
}

.w-420 {
    width: 420px;
}

.disable {
    filter: brightness(0.85);
}

form {
    display: flex;
    justify-content: center;
    width: 1920px;
    padding: 30px 0;
}

.error-message {
    color: red;
    border-radius: 24px;
    margin: 8px 10px;
}

.checkbox {
    background-image: url("/assets/img/checkbox/checkbox_default.svg");
    background-position: center;
    background-size: cover;
    height: 20px;
    width: 20px;
    min-width: 20px;
    &:hover {
        cursor: pointer;
        background-image: url("/assets/img/checkbox/checkbox_hover.svg");
    }

}

.invalid {
    background-image: url("/assets/img/checkbox/checkbox_error.svg");
}

.checked {
    background-image: url("/assets/img/checkbox/checkbox_checked.svg");
    &:hover {
        cursor: pointer;
        background-image: url("/assets/img/checkbox/checkbox_checked.svg");
    }
}

.error-disable {
    display: none;
}

.invalid-text {
    color: red;
    border: 1px red solid;
}

input, textarea {
    padding-left: 17px;
}

textarea {
    padding-top: 10px;
}

#contact { 
    justify-content: center;
}

h1 {
    text-align: center;
}

.valid-message {
    color: $green;
    
}

@media (min-width: 1000px) {
    .form-container {
        padding: 0 55px;
    }
}

@media (min-width: 801px) {
    .headline {
        display: none;
    }

    #contact {
        gap: 12px;
    }
    
}

@media (max-width: 920px) {
    
    .screenshot-image {
        width: 300px;
    }

    form {
        flex-direction: column;
        align-items: center;
    }

    .w-420 {
        width: 300px;
        padding: 0 10px;
    }

    .headline {
        font-weight: bold;
        justify-content: center;
        display: flex;
    }

    .responsiv-column {
        flex-direction: column;
    }

    .responsiv-center {
        align-items: center;
    }

    .responsive {
        flex-direction: column-reverse;
        gap: 24px;
    }

    .textfield, textarea {
        width: 300px; 
        height: 40px;
    }
}

