<div class="d_flex_c d_flex_column background">
    <div class="d_flex_column g_12">
        <h1 class="d_flex_j_c color-blue">Contact me</h1>
        <div class="d_flex_s_b">
            <span class="w-420">Encourage people to contact you and describe what role you are interested in. Show that you will add value to their projects through your work. 
                Example: Feel free to get in touch with job offers or opportunities such as: ...</span>
            <div class="d_flex_column">
                <div class="d_flex_a_c g_12">
                    <img class="email-phone-images" src="./assets/img/email.svg" alt="email">
                    <a href="mailto: contact@marco-lenschau.de">E-mail: contact&#64;marco-lenschau.de</a>
                </div>
                <div class="d_flex_a_c g_12">
                    <img class="email-phone-images" src="./assets/img/phone.svg" alt="phone">
                    <a href="tel: 01776433265">Tel: 0177 643 326 5</a>
                </div>
            </div>
        </div>
        <div class="d_flex_s_b">
            <div class="d_flex_column">
                <span class="color-blue distance">Your name</span>
                <input class="textfield" type="text">                
            </div>
            <div class="d_flex_column">
                <span class="color-blue distance">Your Email</span>
                <input class="textfield" type="email">  
            </div>
        </div>
        <div class="d_flex_column">
            <span class="color-blue distance">Your Message</span>
            <textarea cols="50" rows="6"></textarea> 
        </div>
        <div class="privacy-police">
            <input type="checkbox">
            <span> I've read the </span>
            <a class="color-blue" href="">privacy police</a>
            <span> and agree to the processing of my data as outlined.</span> 
        </div>
        <div class="d_flex_end">
            <button>Send</button>
        </div>
    </div>
</div>
