@import "../styles/flexbox.scss";
@import "../../styles.scss";

.skill-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    >div {
        >img {
            height: 50px;
            width: 80px;
        } 
    }
}

.learning {
    position: absolute;  
    padding: 65px 75px;
    align-items: center;
    width: 215px;
}

.background {
    >div {
        padding: 75px 0px;
    }
}