@import "../styles/flexbox.scss";
@import "../../styles.scss";

.skill-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 12px;
    max-width: 380px;
    >div {
        >img {
            height: 50px;
            width: 80px;
        } 
    }
}

.learning {
    position: absolute;
    padding: 96px;
}

.background {
    >div {
        padding: 75px 0px;
    }
}