@import "../styles/flexbox.scss";
@import "../../styles.scss";

.headline {
    padding-bottom: 62px;
}

h2 {
    padding: 48px;
}

.projects {
    width: 98vw;
    display: flex;
    gap: 32px;
}

@media(max-width: 800px) {
    .headline {
        font-size: 22px;
        text-align: center;
    }    
}

@media(max-width: 899px) {
    .projects {
        overflow-y: hidden;
    }  
}