@import "../styles/flexbox.scss";
@import "../../styles.scss";

.headline {
    padding-bottom: 62px;
}

h2 {
    padding: 48px;
}

.feedbacks {
    width: 98vw;
    display: flex;
    gap: 32px;
}

@media (min-width: 2000px) {
    .feedbacks {
        width: 1920px;
        display: flex;
        justify-content: space-between;
    }
}

@media(max-width: 800px) {
    .headline {
        font-size: 22px;
        text-align: center;
    }    
}

@media(max-width: 899px) {
    .feedbacks {
        overflow-y: hidden;
    }  
}