<div class="d_flex_s_a g_12">
    <div class="d_flex_column g_12">
        <div *ngFor="let headline of firestore.projects[index].info_headline, let headlineIndex = index" class="d_flex_column d_flex_start g_12 w_300">
            <div class="d_flex g_12">
                <img src="./assets/img/drop.svg" alt="drop">
                <h4>{{headline}}</h4>
            </div>
            <span style="padding-left: 40px;">{{firestore.projects[index].info[headlineIndex]}}</span>
        </div>
        
    </div>
    <div class="d_flex_column g_12">
        <span class="d_flex_j_c">Technologies</span>
        <div class="d_flex_j_c g_12 technology-list">
            <img *ngFor="let skill of firestore.projects[index].technology" src="./assets/img/skills/{{skill.toLowerCase()}}.svg" alt="{{skill}}">
        </div>
       <img class="d_flex_j_c screenshot-image" src="./assets/img/screenshots/{{firestore.projects[index].screenshot}}" alt="{{firestore.projects[index].screenshot}}">
       <div class="d_flex_j_c g_12">
        <a class="d_flex_c live-test" href="https://marco-lenschau.de/{{firestore.projects[index].name.toLowerCase()}}">Live Test</a>   
        <a class="d_flex_c github" href="https://github.com/SnowCoder404/{{firestore.projects[index].name}}">GitHub</a>   
       </div>
    </div>
</div>