@import "../../styles/flexbox.scss";
@import "../../../styles.scss";

p {
    width: 350px;
}

.technology-list {
    >img {
        height: 35px;
        width: 35px;
    }
}

.screenshot-image {
    height: 180px;
    width: 400px;
    border-radius: 24px;
}

.live-test {
    background-color: $ligh_blue;
    color: $black;
    border: 0;
    border-radius: 24px;
    width: 120px;
    height: 40px;
}

.github {
    background-color: $dark_blue;
    color: $ligh_blue;
    border: $ligh_blue 1px solid;
    border-radius: 24px;
    width: 120px;
    height: 40px;
}

.live-test, .github {
    &:hover {
        cursor: pointer;
        filter: brightness(1.25);
    }
}

.w_300 {
    width: 300px;
}

.drop {
    height: 29px;
    width: 29px;
}

@media (min-width: 1920px) {
  .main-div {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 801px) {
    .disable-desktop {
        display: none;
    }

    .mobile-section {
        width: 800px;
    }    
}

@media (max-width: 800px) {
    .disable-mobile {
        display: none;
    }

    .mobile-section {
        display: flex;
        flex-direction: column-reverse;
    }
}

@media (max-width: 425px) {
    .screenshot-image {
        height: 150px;
        width: 300px;
    }
}