<div class="d_flex_a_c g_12">
    <div class="d_flex_column g_12">
        <div *ngFor="let i of info" class="d_flex_a_c g_12">
            <img src="./assets/img/drop.svg" alt="drop">
            <span>{{i}}</span>
        </div>
    </div>
    <div class="d_flex_column g_12">
        <span class="d_flex_j_c">Technologies</span>
        <div class="d_flex_j_c g_12 technology-list">
            <img *ngFor="let skill of technology" src="./assets/img/skills/{{skill.toLowerCase()}}.svg" alt="{{skill}}">
        </div>
       <img class="d_flex_j_c screenshot-image" src="./assets/img/screenshots/{{screenshot}}" alt="{{screenshot}}">
       <div class="d_flex_j_c g_12">
        <a class="d_flex_c live-test" href="https://marco-lenschau.de/{{name.toLowerCase()}}">Live Test</a>   
        <a class="d_flex_c github" href="https://github.com/SnowCoder404/{{name}}">GitHub</a>   
       </div>
    </div>
</div>