<div class="d_flex_a_c d_flex_column">
    <span>
        <div>
            <h2>{{ 'Legal notice' | translate }}</h2>
            Marco Lenschau<br>
            Carl-Legien-Straße 18<br>
            25348 Glückstadt<br>
            Telefon: 01776433265<br>
            <div>
                E-Mail: <a href="mailto:contact@marco-lenschau.de">contact&#64;marco-lenschau.de</a>
            </div>
            <div>
                <strong>{{ 'Image rights' | translate }}: </strong><a href="https://pixabay.com">Pixabay</a>
            </div>
        </div>     
    </span>
   <div>
    <span class="imprint">
        <br><br> <h2 class="d_flex_j_c">{{ 'Disclaimer - legal notices' | translate }}</h2><br>
        § 1 {{ 'Warning about content' | translate }}<br>
        {{ 'The free and publicly accessible content of this website has been created with the greatest possible care.' | translate }}
        {{ 'However, the provider of this website does not guarantee the accuracy and timeliness of the free and publicly accessible journalistic advice and news provided.' | translate }}
        {{ 'Contributions marked with the name reflect the opinion of the respective author and not always the opinion of the provider.' | translate }}
        {{ 'By accessing the free and publicly accessible content, no contractual relationship is established between the user and the provider, as the provider lacks the intent to be legally bound.' | translate }}<br>
        <br>
        § 2 {{ 'External links' | translate }}<br>
        {{ 'This website contains links to third-party websites ("external links"). These websites are the responsibility of their respective operators.' | translate }}
        {{ 'The provider checked the external content for any legal violations at the time of linking. At that time, no legal violations were apparent.' | translate }}
        {{ 'The provider has no influence on the current and future design and content of the linked pages.' | translate }}
        {{ 'Setting external links does not mean that the provider adopts the content behind the reference or link as its own.' | translate }}
        {{ 'Constant control of external links is unreasonable for the provider without concrete evidence of legal violations.' | translate }}
        {{ 'However, if the provider becomes aware of legal violations, such external links will be deleted immediately.' | translate }}<br>
        <br>
        § 3 {{ 'Copyright and ancillary copyright' | translate }}<br>
        {{ 'The content published on this website is subject to German copyright and ancillary copyright law.' | translate }}
        {{ 'Any use of these contents not permitted by German copyright law requires the prior written consent of the provider or the respective rights holder.' | translate }}
        {{ 'This applies in particular to reproduction, editing, translation, storage, processing, or reproduction of content in databases or other electronic media and systems.' | translate }}
        {{ 'Contents and rights of third parties are marked as such.' | translate }}
        {{ 'Unauthorized reproduction or distribution of individual content or entire pages is not permitted and is punishable.' | translate }}
        {{ 'Only the creation of copies and downloads for personal, private, and non-commercial use is allowed.' | translate }}<br>
        <br>
        {{ 'Displaying this website in external frames is only permitted with written permission.' | translate }}<br>
        <br>
        § 4 {{ 'Special conditions of use' | translate }}<br>
        {{ 'If special conditions for individual uses of this website deviate from the aforementioned paragraphs, this will be explicitly pointed out at the corresponding location.' | translate }}
        {{ 'In this case, the special conditions of use will apply.' | translate }}<p class="d_flex_j_c">{{ 'Source: ' | translate }}<a href="https://www.juraforum.de/impressum-generator/">{{ 'Click here for the link' | translate }}</a></p>
    </span>    
   </div>
</div>