$dark_grey: #262E34;
$dark_blue: #2d3840;
$ligh_blue: #89BCD9;
$black: #000000;
$white: #FFFFFF;

* {
    margin: 0;
    color: $white;
}

a {
    text-decoration: none;
}

.background {
    background-color: $dark_grey;
}

.color-blue {
    color: $ligh_blue;
}
