$dark_grey: #262E34;
$dark_blue: #2d3840;
$ligh_blue: #89BCD9;
$black: #000000;
$white: #FFFFFF;
$green: #00FF00;

@font-face {
    font-family: 'Anta';
    src: url('/assets/fonts/Anta-Regular.ttf') format('truetype');
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

* {
    margin: 0;
    color: $white;
    scroll-behavior: smooth;
    font-family: 'Anta', sans-serif;
}

html  {
    scroll-padding-top: 80px;
}

a {
    text-decoration: none;
}

.background {
    background-color: $dark_grey;
}

.color-blue {
    color: $ligh_blue;
}

.animation {
    animation: fadeIn 3s forwards;
}

@media (max-width: 600px) {
    html  {
        scroll-padding-top: 0px;
    }
}