@import "../../styles/flexbox.scss";
@import "../../../styles.scss";

* {
    color: $black !important;
}

.footer-div {
    background-color: $ligh_blue;
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center
}

footer {
    width: 1920px;
    height: 214px;
}

.logos {
    height: 30px;
    width: 30px;
}

@media(max-width: 800px) {
    footer {
        display: flex;
        flex-direction: column;
    }

    .copyright {
        flex-direction: row;
        gap: 8px;
        order: 3;
    }
    
    .logo {
        order: 1;
    }

    .logo-section {
        order: 2;
    }
}
