@import "../../styles/flexbox.scss";
@import "../../../styles.scss";

* {
    color: $black !important;
}

a {
    &:hover {
        cursor: pointer;
        color: $white !important;
    }
}

.logo-section {
    >a {
        &:hover {
            filter: brightness(0.8);
        }   
    }
}

.footer-div {
    background-color: $ligh_blue;
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

footer {
    width: 1920px;
    height: 214px;
    justify-content: space-around;
    align-items: center;
}

.logos {
    height: 30px;
    width: 30px;
}

@media (min-height: 3500px) {
    .footer-div {
        position: absolute;
        bottom: 0;
        width: 100vw;
    }
}

@media (min-width: 2000px) {
    footer {
        justify-content: space-between;
    }
}

@media (min-width: 900px) {
    .logo-section {
        >a {
            &:hover {
                border-radius: 12px;
                background-color: $white;
            }   
        }
    }
}

@media(max-width: 800px) {
    footer {
        display: flex;
        flex-direction: column;
    }

    .copyright {
        flex-direction: row;
        gap: 8px;
        order: 3;
    }
    
    .logo {
        order: 1;
    }

    .logo-section {
        order: 2;
    }
}
