<div class="footer-div">
    <footer class="d_flex_s_a">
        <div class="d_flex_column copyright">
            <span><a href="/imprint">{{'Legal notice' | translate }}</a></span>
            <span>© Marco Lenschau 2025</span>
        </div>
        <app-logo class="logo" [logoName]="'logo'"></app-logo>
        <div class="d_flex g_12 logo-section">
            <a href="https://github.com/SnowCoder404">
                <img class="logos" src="./assets/img/logos/github.svg" alt="github">
            </a>
            <a href="mailto: contact@marco-lenschau.de">
                <img class="logos" src="./assets/img/logos/email.svg" alt="email">        
            </a>
            <a href="https://github.com/SnowCoder404">
                <img class="logos" src="./assets/img/logos/linkedin.svg" alt="linkedin">
            </a>
        </div>
    </footer>
</div>